@import "tailwindcss";

:root {
  --background: #2a4975;
  --foreground: #6299e7;
  --highlighted: #fc9056;
}

@theme inline {
  --color-background: #f0f0f0;
  --color-foreground: #202020;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-card-wrapper {
  background-color: var(--foreground);
  color: #0a0a0a;
  display: flex;
  flex-direction: column;
  margin: 25% auto;
  padding: 1em;
  border-radius: 2em;
  transition: background-color 0.25s ease, box-shadow 0.3s ease;
}

.profile-card-wrapper:hover {
  background-color: var(--highlighted);
  box-shadow: #0a0a0a 0px 0px 10px;
}